.img_size{
    width: 100px;
    height: auto;
}

body{
    background-color:#ffffff;
} 
h1{
    color: #fad7ea;
}
h4{
    color: #fad7ea;
}
h1{
    background-color:#b700ff6b ;
} 
h4{
    background-color: #b700ff6b;
}